Schedule2019H2.aux
Schedule2019H2.bbl
Schedule2019H2.blg
Schedule2019H2.brf
Schedule2019H2.log
Schedule2019H2.out
Schedule2019H2.synctex.gz
Schedule2019H2.toc
body/Schedule.aux
body/Schedule.log
reference/myreference171129.bib.bak
